@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(#2b1055, #7597de);
    min-height: 100vh;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: bolder;
    color: #fff;
}

.g {
    list-style-type: none;
    /* margin: 0;
    padding: 0; */
    overflow: hidden;
    color: blanchedalmond;
    font-family: 'Poppins', sans-serif;
}

.active {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
}

.design {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.design img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.design .white {
    mix-blend-mode: screen;
}

.design audio#music {
    visibility: 0;
    width: 0;
    z-index: -3;
    align-items: center;
    position: relative;
    display: flex;
    transform: translateY(2000px);
}

.design img#front {
    z-index: 10;
}

#text {
    position: absolute;
    right: -825px;
    color: #fff;
    white-space: normal;
    font-weight: bolder;
    font-size: 5vw;
    z-index: 8;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #2b1055, transparent);
    z-index: 1000;
}

.btn {
    text-decoration: none;
    list-style-type: none;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    padding: 8px 30px;
    display: inline-block;
    transform: translateY(140px);
}

.sec {
    position: relative;
    padding: 100px;
    background: #2b1055;
    z-index: 10;
}


/* .sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
} */

.sec p {
    font-size: 1em;
    color: #fff;
}

.black {
    height: clamp(30vh, 40vh, 60vh);
    width: clamp(30vh, 40vh, 60vh);
}